@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.base-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .image {
        width: 21em;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .form {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
            font-size: 17px;
        }

        input {
            margin-top: 6px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: 'Open sans', sans-serif;
            background: #f3f3f3;
            border: 0;
            border-radius: 4px;
            // margin-bottom: 31px;
            transition: all 250ms ease-in-out;
            &:focus {
                outline: none;
                box-shadow: 0 0 12px 0.8px #0e81ce96;
            }
        }
    }

    .footer {
        p {
            color: #e74c3c;
            padding-top: 10px;
        }
    }

    .register-success {
        color: #2ecc71;
        margin: 0;
    }

    .message-error-login {
        color: #e74c3c;
        margin-top: 3em;
    }
}